html, body {
	background: #000;
	color: #fff;
	height: 100%;
	width: 100%;
}

::selection {
	color: #fff;
}

.dirArrow {
	height: 14px;
	position: relative;
	width: 14px;
}

.dirArrow.up {
	background: transparent url('./assets/images/Raise-small.png') no-repeat 0 0;
	top: 1px;
}

.dirArrow.down {
	background: transparent url(./assets/images/Fall-small.png) no-repeat 0 0;
	top: 5px;
}

.footNote {
	font-size: .85em;
	font-style: italic;
	margin: 3em 0 0 2em;
}

.negative {
	color: #f00;
}
.spreadBold {
	opacity: 1;
}

.spreadGold {
	color: #FFD700;
}

.spreadDim div {
	opacity: .5;
}

.spreadDim div.negative {
	opacity: 1;
}

/* config form */
.configForm {
  justify-content: center;
  display: flex;
  margin-block-start: 3em;
}

.configList {
	height: 20rem;
  list-style: none;
  margin-block-start: 5px;
	overflow: hidden;
  padding-inline-start: 20px;
  transition: height 1s;
	transition-timing-function: ease-in;
}

.configList.hidden {
	height: 0;
}

.showHideLabel {
	color: #fff;
  font-size: 16px;
  font-weight: 600;
	text-decoration: none;
}

.showHideOptions {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin-left: .75rem;
	outline: none;
	width: 14px;
}

.showHideOptions.up {
	background-image: url('./assets//images/caret_up_icon.svg');
}

.showHideOptions.down {
	background-image: url('./assets//images/down_icon.svg');
}

/* config form end */

.tickerBlocks {
  background-color: #000;
	color: #0f0;
  display: flex;
	flex-wrap: wrap;
  gap: 2em;
  padding: 1em 2em;
}
